<label>Patient Name: <span>{{patient.name[0].given}} {{patient.name[0].family}}</span></label>
<label>Gender: <span>{{patient.gender}}</span></label>
<label>Birth Date: <span>{{patient.birthDate | date}}</span></label>
<label>Mobile Phone: <span>{{getMobile(patient)}}</span></label>


<table class="table">
  <tr>
    <th>Medication</th>
    <th>Dose</th>
    <th>Effective Start</th>
    <th>Status</th>
  </tr>
  <ng-container *ngFor="let resource of meds">
    <tr *ngFor="let med of resource.entry">
      <td>{{med.resource.medicationReference.reference}}</td>
      <td>{{formatDosage(med.resource.dosage)}}</td>
      <td>{{med.resource.effectivePeriod.start | date}}</td>
      <td>{{med.resource.status}}</td>
    </tr>
  </ng-container>
</table>
